.card {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  /* position: relative; */
}

.but-col{
    background-color: #552583;
    color: white;
    width: 260px;
    height: 40px;
    border: none;

}

.resend{
    margin-left: 5rem;
}